---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: docker
    directories:
      - "/"
      - "resources/dockerfiles/database/"
      - "resources/dockerfiles/test/"
    schedule:
      interval: "weekly"
