---
services:
  database:
    image: ghcr.io/race-tech/f1-api:db-latest
    pull_policy: always
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  api:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./config.yml:/config.yml
    depends_on:
      database:
        condition: service_healthy
      dragonfly:
        condition: service_healthy

networks:
  default:
    driver: bridge
