---
name: F1 database updater

on:
  schedule:
    # Run every Monday at 00:00
    - cron: "0 0 * * 1"
  workflow_dispatch:
    

jobs:
  create-database-dump:
    uses: race-tech/actions/.github/workflows/update_f1_db.yml@main
    secrets:
      access-token: ${{ secrets.F1_UPDATE_PAT }}


  updater:
    runs-on: ubuntu-latest
    needs: create-database-dump

    if: needs.create-database-dump.outputs.should-update == 'true'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Dowload SQL dump
        uses: actions/download-artifact@v6
        with:
          path: artifacts
          github-token: ${{ secrets.GH_TOKEN }}
          repository: race-tech/f1-api
          run-id: ${{ needs.create-database-dump.outputs.run-id }}      
          artifact-ids: ${{ needs.create-database-dump.outputs.artifact-id }}      

      - name: Move database dump to workspace
        run: mv artifacts/f1db.sql.gz .
      
      - name: Create docker tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/race-tech/f1-db
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule,pattern={{date 'YYYYMMDD'}}
            type=raw,value=latest

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: "${{ github.actor }}"
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push database image
        uses: docker/build-push-action@v6
        with:
          file: resources/dockerfiles/database/Dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max     
   
